/* Variables CSS personalizadas */
:root {
    /* Colores principales */
    --mtr-primary: #353635;      /* Verde corporativo */
    --mtr-secondary: #2f2f30;    /* Azul oscuro */
    --mtr-accent: #43a047;       /* Verde claro */
  
    /* Tamaños */
    --mtr-navbar-height: 80px;
    --mtr-logo-height: 60px;
    --mtr-sidebar-width: 250px;
  }
  
  /* Reset básico (complementa Bootstrap) */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #e8e3e3 !important;
  }

  @media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
  }

  .navbar-collapse .nav-link {
    color: #000 !important; /* Asegura que se vean en fondo blanco */
    margin-left: 0;
    padding: 10px;
  }

  .navbar-collapse .btn {
    color: #000 !important;
  }
}
