
  /* Formulario de vehículos */
.mtr-form-conductor input,
.mtr-form-conductor select {
  border: 2px solid var(--mtr-primary) !important;
  border-radius: 8px !important;
  padding: 12px !important;
}

/* Modal personalizado */
.mtr-modal-conductor .modal-content {
  border: 2px solid var(--mtr-secondary) !important;
  border-radius: 15px !important;
}

